 .filterToggleContainer {
      width: 80px;
      height: 40px;
      position: absolute;
      cursor: pointer;
      bottom: 20px;
      left: 25px;
    }

  .filterToggleContainer input {
    display: none;
  }

  .filterToggleLabel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 5px;
    border:1px solid #e3c994;
    background-color: transparent;
    border-radius: 40px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .filterToggleLabel img {
    width: 30px;
    height: 30px;
    z-index: 0;
    pointer-events: none;
  }

  .filterToggleButton {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(227, 201, 148, 0.5);
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
    z-index: 1;
  }

  .filterToggleContainer input:checked + .filterToggleLabel .filterToggleButton {
    transform: translateX(37px);
  }

  .filterToggleContainer input:checked + .filterToggleLabel {
    background-color: transparent;
  }