.headerInfo {
    width:100vw;
    height:100px;
    display:flex;
    flex-direction:row;
}

.logo {
    width: 10em; height: 10em;
    opacity: 0.1;
    margin-left: 10px;
    position: fixed;
}

.dataBankIcon {
    filter: brightness(1.1);
    width: 48px;
    height: 48px;
}

.dataBankText {
    color: #e3c994;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.navHeaderInfo {
    display: flex;
    padding: 2em;   
}

.dataBankTextContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 0.5em;
}

.navRightInfo {
    margin-left: auto;
    display:flex;
    padding: 2em;
}

.indexText {
    font-size: 1.3em;
    margin: 0;
    color: white;
}

.indexValue {
    font-size: 1.3em;
    color: #e3c994;
}

.indexContainer {
    display:flex;
    gap: 5px;
    padding-right: 3em;
    align-items: end;
}

.return {
    filter: invert(1);
    width: 55px;
    height: 40px;
}