 .filterToggleContainer {
      width: 80px;  /* 60 + 60 + margins */
      height: 40px;
      position: absolute;
      cursor: pointer;
      bottom: 20px;
      left: 25px;
    }

    .filterToggleContainer input {
      display: none;
    }

    .filterToggleLabel {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 5px;
      background-color: #eee;
      border-radius: 40px;
      box-sizing: border-box;
      overflow: hidden;
    }

    .filterToggleLabel img {
      width: 30px;
      height: 30px;
      z-index: 0;
      pointer-events: none;
    }

    .filterToggleButton {
      position: absolute;
      /* top: 5px;
      left: 5px; */
      width: 30px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.85);
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      z-index: 1;
    }

    /* Move the knob to the right when checked */
    .filterToggleContainer input:checked + .filterToggleLabel .filterToggleButton {
      transform: translateX(40px);
    }

    /* Optional active background color */
    .filterToggleContainer input:checked + .filterToggleLabel {
      background-color: #d0f0d0;
    }